.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
    min-height: 12vh;
    background-color: #1b1b1b;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1.5em;
    background-color: #1b1b1b;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
}


.navbar a {
    text-decoration: none;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.navbar-cart {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-admin {
    font-size: 25px;
    margin-right: 1em;
    cursor: pointer;
    text-decoration: none;
    color: white;
}